.show_model {
    max-width: 100%;
    display: grid;
    grid-template-columns: minmax(200px, 350px) minmax(200px, 350px) minmax(200px, 360px) minmax(300px, 440px);
    grid-template-rows: 600px;

    //grid-template-columns: repeat(4, 1fr);
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: content-box;

    img {
        height: 80%;
        width: 100%;
        //box-sizing: content-box;
    }

    h1 {
        color: white;
        font-weight: lighter;
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .left {
        p {
            color: white;
            text-align: justify;
            font-weight: lighter;
            font-size: 13x;
            margin-bottom: 10px;
        }
    }

    .midle_1 {
        width: 100%;
        height: 100%;
        box-sizing: content-box;

        .info {
            height: 120px;

            p {
                color: white;
                text-align: justify;
                margin-bottom: 20px;
            }
        }
    }

    .midle_2 {

        .btn {
            width: 100%;
            height: 100px;
            margin-top: 20px;
            background-color: #fff;
            font-family: "Josefin Sans", sans-serif;
            font-size: 20px;
            text-align: center;
            font-weight: lighter;
            text-transform: uppercase;
        }
    }

    .right {
        img {
            //height: 100%;
            width: 100%;
            //box-sizing: content-box;
        }
    }
}